.DS_Store

.circleci
.github
.husky

.editorconfig
.eslintignore
.eslintrc

.gitattributes
.gitignore

# NPM
.npmignore
.npmrc

# NVM
.nvmrc

# Deps
.depsrc

# Hooks
.husky/hooks

# Development
examples
test
tsconfig.json
jsconfig.json
babel.config.cjs
